{# templates/proj/about.html.twig #}
{% extends 'base3.html.twig' %}

{% block title %}Om Projektet{% endblock %}

{% block main %}

    <div class="landingpage-container">

        <h2 class="landingpage-h2"> Välkommen till mitt Blackjack projekt </h2>

        <h3>Introduktion</h3>
        <p class="landingpage-p"> Projektet är en webbaserad version av det klassiska kortspelet Blackjack, byggt med hjälp av PHP och Symfony. 
        Syftet med applikationen är att ge användare en enkel och engagerande upplevelse av Blackjack där de kan spela mot en datoriserad dealer.</p>
        </p>

    
    </div>
    
{% endblock %}
