{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}OM{% endblock %}


{% block body %}
    <h1>About</h1>
    <p>An image which can be clicked on.</p>
    <a href="{{ asset('img/mvc.png') }}"> 
        <img src="{{ asset('img/mvc.png') }}" alt="" class="picture-about"> 
    </a>
{% endblock %}

