{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <h3 id="kmom01">Kursmoment 1: Installation av Symfony och Skapande av Sidor</h3>
    <p>I det första kursmomentet, fokuserade jag på att installera Symfony och skapa grundläggande webbsidor.</p>
    <p>Genom att använda Symfony's routing och controller-funktioner tillsammans med Twig som templatemotor, skapade jag de efterfrågade sidorna enligt projektets krav.</p>
    <p>Detta inkluderade att definiera olika routar för att hantera olika sidor, samt att skapa en användarvänlig struktur för webbsidorna med hjälp av Twig-mallar.</p>
    <p>För att utforska Symfony's funktionalitet och möjligheter, testade jag också olika komponenter och funktioner som erbjuds av ramverket.</p>
    <p>Den tekniska dokumentationen och gemenskapens stöd hjälpte mig att förstå och implementera de grundläggande koncepten i Symfony.</p>
    
{% endblock %}
