{% extends "base.html.twig" %}

{% block title %}21{% endblock %}

{% block body %}

<div class="container">
    <h1>Tjugoett</h1>
    <p>Tjugoett, även känt som Blackjack eller 21, är ett populärt kortspelet som spelas med en eller flera kortlekar.
    Målet med spelet är att få en hand med ett högre totalvärde än dealerns hand, utan att överstiga 21.</p></br>
    
    <h2>Kortens värde</h2>
        <p>Korten 2-10 har samma värde som deras siffror, knektar,
        damer och kungar är värda 10 poäng och ess kan räknas som 1 eller 11,
        beroende på vad som är mest fördelaktigt för handen.</p></br>

    <h2>Förberedelser</h2>
        <p>En eller flera kortlekar blandas och alla spelare, inklusive dealern, får två kort var.
        Spelarna får sina kort med framsidan uppåt,
        medan dealern får ett kort med framsidan uppåt och det andra med framsidan nedåt (kallad ”hålkort”).</p></br>

    <h2>Spelarens tur</h2>
        <p>Spelarna måste bestämma om de vill ”ta ett kort” (hit) eller ”stå” (stand).
        Om en spelare väljer att ta ett kort och handens totala värde överstiger 21,
        blir de ”tjocka” och förlorar sin insats direkt.</p></br>

    <h2>Dealerns tur</h2>
        <p> När alla spelare har agerat, avslöjar dealern sitt hålkort.
        Om dealerns hand har ett totalvärde på 17 eller högre,
        måste de stå. Om dealerns hand har ett totalvärde på 16 eller lägre,
        måste de ta kort tills de har minst 17 eller blir tjocka.</p></br>

    <h2>Utfall</h2>
        <p>Om dealern blir tjock, vinner alla spelare som inte blev tjocka under sin tur. 
        Om dealern inte blir tjock, jämförs totalvärdet på spelarnas och dealerns händer. 
        Om en spelares hand är högre än dealerns, vinner spelaren. Om en spelares hand är lägre än dealerns, 
        förlorar spelaren. Om en spelares hand har samma värde som dealerns, blir det oavgjort (”push”), 
        och spelaren får tillbaka sin insats.</p></br>

    <h2>Blackjack</h2>
        <p>Om en spelare får ett ess och ett kort med värdet 10 som sina första två kort, 
        har de en ”blackjack”. En blackjack vinner automatiskt, 
        såvida inte dealern också har en blackjack. 
        I sådana fall blir det oavgjort och spelaren får tillbaka sin insats.</p>

    
   
</div>




{% endblock %}