{% extends "base.html.twig" %}

{% block title %}21{% endblock %}

{% block body %}

<div class="container">
   <h1>Tjugoett</h1>

   <ol class="link-container">
        <li><a href="{{ path('card_game_info') }}">Regler</a></li>
        <li><a href="{{ path('card_game_start') }}">Starta spelett</a></li>        
        
    </ol>
   
</div>




{% endblock %}