@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    background: url('../images/mvc.png');
    background-size: cover;
}

header {
    
    height: 200px;
}

h1 {
    border-bottom: 4px double #ccc;
}


.picture-about {
    margin:0 auto;
    height: 400px;
    width: 400px;
}

main {
    margin: 0 auto;
    max-width:500px;
}

.site-nav {
    list-style-type: none; /* Ta bort punktlistan från länkarna */
    padding-top: 200px;
    margin: 0;
    margin-right: 50px;
    margin-left: 10px;
}

.site-nav a {
    text-decoration: none; /* Ta bort understrykning från länkarna */
    color: #000000; /* Ange textfärgen för länkarna */
    font-weight: bold; /* Göra länktexten fetstil */
    font-size: 16px; /* Ange textstorlek för länkarna */
    transition: color 0.3s; /* Gör övergången av textfärgen smidig */
}
.site-nav a:hover {
    color: #ffa500; /* Ändra textfärgen när man hoverar över länkarna */
}

.site-nav li {
    display: inline; /* Visa länkarna bredvid varandra */
    margin-right: 20px; /* Lägg till lite mellanrum mellan länkarna */
}


@keyframes blink-animation {
    0% { color: red; } /* Vid 0% är texten röd */
    25% { color: blue; } /* Vid 25% är texten blå */
    50% { color: green; } /* Vid 50% är texten grön */
    75% { color: orange; } /* Vid 75% är texten orange */
    100% { color: purple; } /* Vid 100% är texten lila */
}


.blink {
    animation: blink-animation 1s infinite ease-in; 
}


.site-footer{
    border: 2px solid #020202;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: #e08003;
    color: #ffffff;
    padding: 70px 0;
    margin-top: 200px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

}

.container {
    width: 80%;
    margin: 0 auto;
    
}

.footer-section {
    flex: 1;
}
.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    color: #fff;
    font-size: 20px;
}